<section class="fill">
    <div class="container pt-2">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="center-image">
                    <img class="image-max-50" [src]="image" alt="Random slide">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <hr>
    <div class="container py-5">
        <p class="h2 text-center pb-4">Nuevas Ofertas</p>
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-2" *ngFor="let tarjeta of tarjetas">
                <div class="card text-black">
                    <img [src]="tarjeta.Url" class="card-img-top" alt="{{ tarjeta.Name }}" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">{{ tarjeta.Name }}</h5>
                            <p class="text-muted mb-4">{{ tarjeta.Brand }}</p>
                        </div>
                        <div class="d-flex justify-content-evenly font-weight-bold mt-4 mb-2">
                            <span>Precio</span><span>${{ tarjeta.Precio }}</span>
                        </div>

                        <button class="btn btn-primary btn-sm mb-2 w-100" type="button" [routerLink]="['/product']">Detalles</button><br>
                        <button class="btn btn-outline-primary btn-sm w-100" type="button">
                            Añadir al carrito
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container py-5">
        <div class="row align-items-center">

            <div class="col-lg-3">
                <img src="../../../../assets/servicelFisico.PNG">
            </div>
            <div class="col-lg-4">
                <p class="h3">Bienvenido!</p>
                <p class="h5">A Servicel</p>
                <hr>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="col-lg-5">
                <p class="h5 py-2">(+505) 5844 4621</p>
                <hr>
                <p class="h3 py-2">Horarios de atencion</p>
                <p class="">
                    <b>Lunes - Viernes:&nbsp; &nbsp;</b>09:00 - 19:00<br><b>Sabado - Domingo:</b>&nbsp; Cerrado<br>
                </p>
                <hr>
                <div class="py-2">
                    <p>* Venta de dispositivos electronicos<br>
                        * Reparacion de telefonos y tablets<br>
                        * Lorem Ipsum dolor sit amet<br>
                        * Lorem Ipsum dolor sit amet<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>