<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start fill">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="../../../assets/logoservicell.jpg" class="img-fluid d-none d-lg-block" alt="Sample image">
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <h2 class="mb-2">
                  Crear cuenta
                </h2>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">Primer Nombre</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Apellido</label>
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-2">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Correo Electronico</label>
                </div>

                <!-- Adress input -->
                <div class="form-outline mb-2">
                  <input type="text" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">Direccion</label>
                </div>

                <!-- Phone input -->
                <div class="form-outline mb-2">
                  <input type="text" id="form3Example5" class="form-control" />
                  <label class="form-label" for="form3Example5">Telefono</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-2">
                  <input type="password" id="form3Example6" class="form-control" />
                  <label class="form-label" for="form3Example6">Contraseña</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-2">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Recibir actualizaciones al correo electronico
                  </label>
                </div>
                <div class="flex-row">
                  <p class="small fw-bold mb-2">Ya tienes una cuenta? <a [routerLink]="['../login']"
                      class="link-danger">Inicia Sesion</a>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary w-100 mb-2">
                  Registrarse
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->