<app-header></app-header>
<!--<app-body></app-body>-->
<!--<app-iniciar-sesion></app-iniciar-sesion>-->
<!--<app-crear-cuenta></app-crear-cuenta>-->
<div id="wrap">
    <div id="main" class="container clear-top px-0">
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>