<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start fill">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="../../../assets/logoservicell.jpg" class="img-fluid d-none d-lg-block" alt="Sample image">
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form class="my-5">
                <h2 class="mb-4">
                  Iniciar Sesion
                </h2>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Correo Electronico</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">Contraseña</label>
                </div>
                <!-- forgot -->
                <div class="d-flex justify-content-between mb-4">
                  <div class="flex-row">
                    <p class="small fw-bold mb-0">Aun no tienes una cuenta? <a [routerLink]="['../register']"
                        class="link-danger">Registar</a>
                  </div>
                  <div class="flex-row-reverse">
                    <a [routerLink]="['../forgot']" class="text-body">Olividaste tu contraseña?</a>
                  </div>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary w-100 mb-4">
                  Iniciar sesion
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->